.box1{
    height: 140vh;
    background-size:border-box;
    background-repeat: no-repeat;

background-image: url(../images/home-banner-ri.webp);

}
.box1 h3{
    text-align: center;

    margin-top: 350px; color: white;
}
.box1 h5{

    text-align: center;
    color: white;
    margin-top: 10px;
      
}
.box2
{
    height: 200px;
    width: 1250px;
    margin: auto;
   margin-bottom: 200px; 
    text-align: center;
justify-content: space-between;
 background-color: rgba(0, 0, 0, 0.647);



}
.box2 h4{
    font-size: 18px;

color: white;
}
.box2 h6{
    color: white;
}
.dropdown
{
    margin-top: 40px;

}
.dd{
    margin-top: 115px;
}
.box2 h4{
    margin-top: 50px;
}
.box2 h6{
    margin-top: 50px;
    font-size: 18px;
}